
@media screen and ( min-width: 768px )

  .about__mast
    margin-top: $navbar-height + $secondary-navbar-height

  .about__copy
    padding: 5rem 10rem
    //font-size: 3rem

  .team__title
    width: 50vw
    text-align: right
    padding: 8rem 0 0 5rem
    background-color: rgba($env-primary, .8)

  .team--title
    transform: none
    color: $white
    padding: 2rem 2rem 1.6rem 2rem
    margin: 1rem 0
    border-radius: 6px 0 0 6px
    &:hover
      transition: .2s ease-in-out
      cursor: pointer
      background-color: $soft-white
      color: $black
