
@media screen and ( min-width: 768px )

  .about__mast
    margin-top: $navbar-height + $secondary-navbar-height

  .about__copy
    padding: 5rem 10rem
    font-size: 3rem

  .team__title
    width: 50vw
    text-align: right
    padding: 0
    background-color: rgba($env-primary, .8)
    & > *
      transform: none
      color: $white
      padding: 10rem
      margin: 0
