---
layout: default
---

<!--

Last full read through 27/12/2020

##############################################
# Landing Layout /_layouts/env/landing.html
##############################################

-->

<div class="landing__page">
  <!-- setup liquid variables -->
  {%- assign env = site.data.menu.navigation | where: 'env', 'pwp' -%}
  {%- assign env = env[0] -%}

  {%- assign cta = env.submenu | where: 'id', 'cta' -%}
  {%- assign cta = cta[0] -%}

  {%- assign cta_2 = env.submenu | where: 'id', 'landing' -%}
  {%- assign cta_2 = cta_2[0] -%}

  <div class="page__half">

    <div class="env__text env--pwp">

      <a class="landing__link" aria-label="{{ env.aria }}" href="{{ env.url | relative_url }}">

        <h3 class="landing__title">{{ env.name | upcase }}</h3></a>

      <div class="landing__strap">
        <p>{{ site.data.copy.landing.landing.pwp }}</p>
        <div class="landing__cta">
        <a class="primary__cta" aria-label="{{ cta.aria }}" href="{{ cta.url | relative_url }}">{{ cta.name }}</a>
        <a class="secondary__cta" aria-label="{{ cta_2.aria }}" href="{{ cta_2.url | relative_url }}">More Info</a>
        </div>
      </div>

    </div>

    <div class="hero__overlay env--pwp">
      {%- picture {{ page.pwp.image | prepend: 'content/' }}
        --img class="hero__image hero__filter pwp__hero h-100"
        --alt {{ page.pwp.alt }} -%}</div>

  </div>

  {%- assign env = site.data.menu.navigation | where: 'env', 'clinician' -%}
  {%- assign env = env[0] -%}

  {%- assign cta = env.submenu | where: 'id', 'cta' -%}
  {%- assign cta = cta[0] -%}

  {%- assign cta_2 = env.submenu | where: 'id', 'landing' -%}
  {%- assign cta_2 = cta_2[0] -%}

  <div class="page__half">

    <div class="env__text env--clinician">

      <a class="landing__link" aria-label="{{ env.aria }}" href="{{ env.url | relative_url }}">

        <h3 class="landing__title">{{ env.name | upcase }}</h3></a>

      <div class="landing__strap">
        <p>{{ site.data.copy.landing.landing.clinician }}</p>
        <div class="landing__cta">
        <a class="primary__cta" aria-label="{{ cta.aria }}" href="{{ cta.url | relative_url }}">{{ cta.name }}</a>
        <a class="secondary__cta" aria-label="{{ cta_2.aria }}" href="{{ cta_2.url | relative_url }}">More Info</a>
        </div>
      </div>

    </div>

    <div class="hero__overlay env--clinician">
      {%- picture {{ page.clinician.image | prepend: 'content/' }}
        --img class="hero__image hero__filter clinician__hero h-100"
        --alt {{ page.clinician.alt }} -%}</div>

  </div>

</div>
