---
layout: default
---
{% if site.data.copy.landing.pwp.description %}
{% assign description = site.data.copy.landing.pwp.description %}
{% else %}
{% assign description = site.description %}
{% endif %}

<div class="hero-image hero__pwp">

  <div class="hero__overlay hero__overlay--pwp">
    {% picture {{ page.hero.image | prepend: 'content/' }}
      --img class="hero__image hero__image--pwp"
      --alt {{ page.hero.alt }} %}</div>

  <div class="hero__strap">
    <h1>
      <span class="hero__strap--start">
        {% assign header = site.data.copy.landing.pwp %}
        {% assign title = header.title | split: " " %}
        {% assign n = header.split %}
        {% for word in (1..title.size) %}

          {{ title[forloop.index0] }}
          {% if forloop.index == n %}
      </span>{% endif %}

        {% endfor %}

    </h1>
  </div>

  <div class="pwp__follow"></div>

</div>

<div class="augmented-image">

  {% picture {{ page.subhero.image | prepend: 'content/' }}
    --img class="hero__image"
    --alt {{ page.subhero.alt }} %}

    <svg class="svg__augment" viewBox="-50 -50 100 100" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <radialGradient id="augmentLED" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
        <stop offset="0%" />
        <stop offset="100%" />
        </radialGradient>
      </defs>

      <circle class="svg__augment--pulse" cx="32%" cy="2%" />
      <circle class="svg__augment--led" cx="32%" cy="2%" r=".8" />

    </svg>

</div>

<div class="strapline pwp--strap">
  <h2>{{ site.data.copy.landing.pwp.subtitle }}</h2>
  <p data-aos="fade-in">{{ site.data.copy.landing.pwp.strap }}</p>
</div>


<div class="segment-wrap">

  <div class="segment__left">
  <div class="segment__gaurentee strapline pwp--strap">
    <div data-aos="fade-right">
      {% include branding/site-logo.svg %}</div>
    <p data-aos="fade-in" class="pwp--guarantee">
      {{ description }}</p></div>

  <div class="strapline segment__keywords">
    {% assign keyword = site.data.copy.landing.pwp.keywords | split: ", " %}
    {% for word in (1..keyword.size) %}
    <h3 data-aos="fade-in">{{ keyword[forloop.index0] }}</h3>
    {% endfor %}</div>

  </div>

  <div class="segment__right augmented-image" >

    {% picture {{ page.guarantee.image | prepend: 'content/' }}
      --img class="hero__image image--guarantee "
      --alt {{ page.guarantee.alt }} %}

    <svg  class="svg__augment augment--gaurentee" viewBox="-50 -50 100 100"  xmlns="http://www.w3.org/2000/svg">
    <circle cx="-15%" cy="13%" r="1" fill="white"/>
    </svg>

  </div>

</div>




<div class="augmented-image" >

  {% picture {{ page.device.image | prepend: 'content/' }}
    --img class="hero__image"
    --alt {{ page.device.alt }} %}

    {% include functions/calc-svg-coord.html %}

    <svg class="svg__augment" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">


      {% assign X = cX | split: '", "' %}
      {% assign Y = cY | split: '", "' %}
      {% assign x1 = X1 | split: '", "' %}

      {% for item in page.augment.labels %}

      <svg class="svg__labels hidden" x="{{ cX[forloop.index0] | remove: ", " }}%" y="{{ cY[forloop.index0] | remove: ", " }}%" style="overflow: visible">

        <circle class="svg--elem svg--circle" cx="0%" cy="0%" r="6" />

        <line class="svg--elem svg--line" x1="0"  y1="0" y2="0" />

        <text class="svg--elem svg--text trans-{% if item.reverse %}right{% else %}left{% endif %}" >{{ item.text }}</text>

      </svg>

      {% endfor %}


    </svg>

</div>
