---
layout: default
---

<div class="pwp__mast">

  <div class="pwp__overlay">
    <div class="pwp__bg">
    </div>
  </div>

  <div class="pwp--strap">
    <h1>
      <span class="pwp--strap-start">
        {% assign strap = site.data.menu.navigation[0].alt | split: " " %}
        {% for word in (1..strap.size) %}

          {{ strap[forloop.index0] }}
          {% if forloop.index == 2 %}
      </span>{% endif %}

        {% endfor %}

    </h1>
  </div>

  <div class="pwp__follow"></div>

</div>

<div data-aos="fade-in" data-aos-anchor-placement="top-center" class="pwp__device--img pwp__device--docked">
</div>

<div class="pwp__straps pwp__device--strap">
  <h1>{{ site.data.copy.pwp.title }}</h1>
  <h2 data-aos="fade-up">{{ site.data.copy.pwp.description }}</h2>
</div>

<div class="pwp__grid-wrap">

  <div class="pwp__grid-col-l">
  <div class="pwp__grid__text pwp__straps">
    <div data-aos="fade-right">
      {% include branding/site-logo.svg %}</div>
    <h2 data-aos="fade-in" data-aos-anchor-placement="top-center" class="pwp--guarantee">
      {{ site.description }}</h2></div>

  <div class="pwp__straps pwp__grid_keywords">
    {% assign keyword = site.data.copy.pwp.keywords | split: " " %}
    {% for word in (1..keyword.size) %}
    <h2 data-aos="fade-up">{{ keyword[forloop.index0] }}</h2>
    {% endfor %}</div>
  </div>

  <div class="pwp__grid-col-r">
    <div class="pwp__straps pwp__grid_img"></div>

    <svg  viewBox="-50 -50 100 100" width="40vw" height="100vh" xmlns="http://www.w3.org/2000/svg">
    <circle cx="-28%" cy="20%" r="1" fill="white"/>
    </svg>
  </div>

</div>

<div data-aos="fade-in" data-aos-anchor-placement="top-bottom" class="pwp__device--img pwp__device--group">

<svg  width="100vw" height="100%" xmlns="http://www.w3.org/2000/svg">
<circle cx="20%" cy="30%" r="6" fill="white"/>
<line x1="10%" y1="30%" x2="20%" y2="30%" style='stroke:white;stroke-width:2' />
<style>
    .text { fill: white; }
  </style>
<text data-aos="fade-in" data-aos-anchor-placement="top-center" x="2%" y="31%" class="text" >Controller</text>
</svg></div>
