
<!-- No navigation on landing, we split the diplay with <a's pointing to pwp or clinician. This is done in the landing.html layout. -->

<nav class="navbar">

  <div class="nav-brand">
    <a href="{{ site.baseurl }}/">
    {% include /branding/site-logo.svg %}
    </a>
  </div>

  <ul class="social-media">

  {% for social in site.socials %}
  <li class="social-media-item">
  <a href="{{ social.url }}">
  <i class="fab fa-{{ social.icon }} social--{{ social.name }} social-media-link"></i></a>
  </li>
  {% endfor %}

  </ul>

  {% if page.layout == "env/landing" or page.layout == "error-page" %}
  </nav>
  {% else %}
    <ul class="nav-list">

      {% for item in site.data.menu.navigation %}

      <li class="nav-group">
        <a href="{{ item.url | relative_url }}" class="nav-group-link nav-link {{ item.env }}-group-link">
          <span>{{ item.name }}</span></a>

        <div class="nav-group-content {{ item.env }}-group">
          {% for sub in item.submenu %}
          <a
            class="
              nav-link
              sub-link
              {% if page.url == sub.url %}
              current--url
              {% endif %}" href="{{ sub.url | relative_url }}">
            <span>{{ sub.name }}</span></a>

          {% endfor %}
        </div>

      </li>
      {% endfor %}

    </ul>

    <div class="burger">
      <div class="burger-line-1"></div>
      <div class="burger-line-2"></div>
      <div class="burger-line-3"></div>
    </div>
  {% endif %}
</nav>
