<nav class="navbar">

  <div class="nav-brand">
    <a href="{{ site.baseurl }}/">
    {% include /branding/site-logo-2.svg %}
    </a>
    <!--
    {% for social in site.data.menu.socials %}
    <a class="nav-socials nav-{{ social.icon }}" href="{{ social.url }}{{ social[1].username }}/">
    <i class="fab fa-{{ social.icon }}" title="{{ site.title }} {{ social.icon | capitalize }} account"></i>
    </a>
    {% endfor %}
    -->
  </div>
  <ul class="nav-list">

    {% for item in site.data.menu.navigation %}

    <li class="nav-group">
      <a href="{{ item.url | relative_url }}" class="nav-group-link nav-link {{ item.env }}-group-link">
        <span>{{ item.name }}</span></a>

      <div class="nav-group-content {{ item.env }}-group">
        {% for sub in item.submenu %}
        <a class="nav-link sub-link" href="{{ sub.url | relative_url }}">
          <span>{{ sub.name }}</span></a>

        {% endfor %}
      </div>

    </li>
    {% endfor %}

  </ul>

  <div class="burger">
    <div class="burger-line-1"></div>
    <div class="burger-line-2"></div>
    <div class="burger-line-3"></div>
  </div>
</nav>
