
<!-- No navigation on landing, we split the diplay with <a's pointing to pwp or clinician. This is done in the landing.html layout. -->

<nav class="navbar">

  <div class="nav-brand">
    <a href="{{ site.baseurl }}/">
    {% include /branding/site-logo.svg %}
    </a>
  </div>

    {% if page.url != "/" %}
    <!-- exclude on home -->
      {% if page.url != "/error-pages/404" %}
      <!-- exclude on error pages -->
      <ul class="social-media">
        {% for social in site.socials %}
        <li class="social-media-item">
        <a href="{{ social.url }}">
        <i class="fab fa-{{ social.icon }} social--{{ social.name }} social-media-link"></i></a>
        </li>
        {% endfor %}
      </ul>

      <ul class="nav-list">
        {% for item in site.data.menu.navigation %}
        
        <li class="nav-group">
          <a href="{{ item.url | relative_url }}" class="nav-group-link nav-link
          {% assign url = page.env | append: '/' | prepend: '/' %}

          {% if item.url == url %}
          current--env
          {% endif %}

          {{ item.env }}-group-link">

            <span>{{ item.name }}</span>
          </a>

          <div class="nav-group-content {{ item.env }}-group">
            {% for sub in item.submenu %}
            {% if sub.id == 'nav' %}
            <div class="nav-group-container">
            <a
              class="
                nav-link
                sub-link
                {% if page.url == sub.url %}
                current--url
                {% endif %}
                {% if sub.cta == true %}
                nav-cta
                {% endif %}" href="{{ sub.url | relative_url }}">
              <span>{{ sub.name }}</span></a>

              {% if sub.subsubmenu %}
              <div class="nav-subsub-content ">
                {% for subsub in sub.subsubmenu %}
                <a class="nav-link subsub-link" href="{{ subsub.url | relative_url }}">
                  <span>{{ subsub.name }}</span></a>

                {% endfor %}
              </div>
              {% endif %}

            </div>
            {% endif %}
            {% endfor %}
          </div>
        </li>
        {% endfor %}
      </ul>

      <div class="burger">
        <div class="burger-line-1"></div>
        <div class="burger-line-2"></div>
        <div class="burger-line-3"></div>
      </div>
    </nav>
  {% else %}
    </nav>
  {% endif %}
{% else %}
  </nav>
{% endif %}
