
{% assign scrips = page.scripts | split: ', '%}
{% if page.scripts contains 'svg-aos' %}
<script type="text/javascript" src="{{ "{{ site.baseurl }}/assets/js/svg-aos.js" | relative_url }}" async></script>
{% endif %}


<script type="text/javascript" src="{{ "{{ site.baseurl }}/assets/js/animate_after_load.js" | relative_url }}" async></script>

<script type="text/javascript" src="{{ "{{ site.baseurl }}/assets/js/mobile-nav-slider.js" | relative_url }}" async></script>

<script type="text/javascript" src="{{ "{{ site.baseurl }}/assets/js/calc-mobile-viewport.js" | relative_url }}" async></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/aos/aos.js" ></script>

<script>
  AOS.init({
    disable: false,
    duration: {{ site.aos-duration }},
    easing: '{{ site.aos-easing }}'
  });
</script>


</body>
</html>
