
.about__head
  align-items: center
  backdrop-filter: blur(8px)
  background-color: rgba($env-primary, .5)
  color: $white
  display: flex
  height: $mobile-navbar-height * 4
  justify-content: center
  padding-top: $mobile-navbar-height
  text-align: center
  span
    animation-duration: .1s
    animation-fill-mode: forwards
    animation-iteration-count: 1
    animation-name: fadeInOpacity
    opacity: 0

@keyframes fadeInOpacity
  0%
    opacity: 0

  100%
    opacity: 1


.about__head__bg
  background-image: url($baseurl + 'assets/img/pwp_device_group.png')
  filter: contrast(3) brightness(.6)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: $mobile-navbar-height * 5
  position: fixed
  width: 100vw
  z-index: -1

.about__copy
  align-items: center
  background-color: $env-primary
  color: $white
  display: flex
  flex-direction: column
  justify-content: center
  padding: 5rem 2rem
  text-align: center

.about--copy
  padding: 3rem 0

.about__team
  display: flex
  flex-direction: column
  background-color: $pure-white

.team__head
  align-items: flex-end
  background-color: rgba($env-primary, .5)
  border-bottom: solid 1px $opd-blue-confidence
  display: flex
  height: 10rem
  justify-content: space-around
  width: 100vw

.team__title
  color: $opd-blue-confidence
  padding-bottom: 2rem
  transition: .4s ease-out

.team__title--active
  color: $env-primary
  padding-bottom: 3rem

.team__title.team__title--active
  transition: .4s ease-out

.title__title--text
  display: none

.team__members
  background-color: $white
  color: $opd-blue-confidence
  padding-top: 10rem

.single__member
  display: none
  flex-direction: column
  width: 90%
  margin: auto

.single__member--active
  display: flex

.single__member__image
  display: flex
  justify-content: center
  width: 100%
  padding-bottom: 3rem

.member--image
  width: 200px
  height: 200px
  object-fit: cover
  border-radius: 12px
  padding: 3px
  border: solid 1px $light-grey
  transition: .3s ease-in-out
  &:hover
    border: solid 1px $white
    box-shadow: 1px 1px 5px $light-grey

.single__member__text
  width: 90%
  margin: auto

.member__position
  display: flex
  align-items: center
  color: $grey

.member__socials
  align-items: center
  list-style: none
  margin: 0
  padding: 0
  li
    display: inline

.social
  color: $env-primary
  font-size: $font-size * .7

.member__info
  height: $font-size * 4
  max-height: $font-size * 4
  overflow: hidden
  transition: .8s cubic-bezier(0,.98,.48,.92)

.member__info--reveal
  height: 100%
  max-height: 1000px
  transition: .6s cubic-bezier(.51,.38,1,.42)

.info__conceal
  align-items: flex-end
  background-image: linear-gradient(rgba(0,0,0,0), $white, $white)
  color: $black
  cursor: pointer
  display: flex
  font-size: $font-size * .8
  height: $font-size * 3
  transform: translateY(-100%)
  transition: .4s ease-in-out
  width: 100%

  &::before
    content: 'more \00a0 '

  i
    font-size: $font-size * .6

.info__reveal
  height: $font-size * 1
  padding-bottom: $font-size * 2
  transform: translateY(0)
  transition: .4s ease-in-out

  &::before
    content: 'less \00a0 '

  i
    transform: rotate(180deg)
