
.about__mast
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  height: $mobile-navbar-height * 3
  padding-top: $mobile-navbar-height
  color: $white
  background-color: rgba($env-primary, .8)

.about__copy
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  color: $white
  padding: 5rem 2rem
  background-color: $env-primary
  & > *
    padding: 4rem 0

.about__team
  display: flex

.team__title
  //width: 10vw
  text-align: right
  //padding: 10rem 0
  background-color: rgba($env-primary, .8)
  & > *
    transform: rotate(-90deg)
    color: $white

.team__members
  padding: 10rem 2rem
  color: $opd-blue-confidence
  background-color: $white

.single--member
  opacity: 0
  display: none
  //padding-bottom: 8rem

.team--position
  color: $light-grey

.member--info
  max-height: $font-size * 4
  overflow: hidden

.more--info
  display: flex
  align-items: flex-end
  height: $font-size * 3
  width: 100%
  cursor: pointer
  transform: translateY(-100%)
  background-image: linear-gradient(rgba(0,0,0,0), $white, $white)
  transition: .2s ease-in-out
  &::after
    content: 'more \2193'
    font-size: $font-size * .8
    color: $black

.reveal-member--info
  max-height: 1000px

.reveal-more--info
  height: $font-size * 1
  padding-bottom: $font-size * 2
  transform: translateY(0)
  background-image: none
  &::after
    content: 'less \2191'

.current
  transition: .2s ease-in-out
  padding-right: 1rem !important
  color: $black !important
  background-color: $white

.active
  transition: 2s ease-in-out
  display: block
  opacity: 1

.deactive
  opacity: 0
  transition: 2s ease-in-out
