.feed__head
  margin-top: ($navbar-height + $secondary-navbar-height) * 1.5
  width: 100vw

.feed__title
  width: 80vw
  max-width: 1200px
  margin: auto
  color: $env-primary


.post__feed
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  width: 80vw
  max-width: 1200px
  margin: 10vh auto

.feed__card
  display: flex
  flex-direction: column
  //width: 200px
  max-width: 360px
  //height: 220px
  //margin: 20px
  overflow: hidden
  border-radius: 0
  //box-shadow: 0 0 6px rgba($env-primary,.8)


  &:hover
    .feed__card--image
      transform: scale(1.2)
    .feed__card__image
      box-shadow: 0 10px 6px -5px rgba($env-primary,.6)
      transition: 1s ease-in-out
    .feed__card--title
      color: $pure-black
      transition: .4s ease-in-out

.feed__card__image
  width: 100%
  height: 112.5px
  overflow: hidden
  box-shadow: 0 0 6px rgba($env-primary,.8)
  transition: .6s ease-in-out

.feed__card--image
  object-fit: cover
  object-position: top
  width: 100%
  height: 100%
  transition: .6s ease-in-out

.feed__card--text
  padding: 2rem 0
  color: $opd-blue
  font-size: $font-size

.feed__card--link
  text-decoration: none
  color: inherit


.feed__card--title
  transition: .2s ease-in-out
  font-weight: $heavy-font

.feed__card--meta
  font-size: $font-size * .5
  padding: 0
  & > span
    font-weight: $heavy-font

@media screen and ( min-width: 768px )

  .feed__card--meta
    font-size: $font-size * .7

  .feed__card
    display: flex
    flex-direction: column
    width: 200px
    max-width: 360px
    //height: 220px
    margin: 20px
    overflow: hidden
    border-radius: 0
    //box-shadow: 0 0 6px rgba($env-primary,.8)
