// Global CSS that doesnt fall into any of the categories setout by the _sass dir structure

// Stop any CSS animations on load. We remove this class from the body tag after load, using assets/js/animate_after_load.js
.preload *
  -webkit-transition: none !important
  -moz-transition: none !important
  -ms-transition: none !important
  -o-transition: none !important

.fullwidth__wrap
  width: 100vw

.narrow__wrap
  width: 80vw
  max-width: 600px
  margin: 0 auto

.bg--dark
  background-color: $opd-grey-neutral

.no-touch__wrap
  padding: 18vh 0 10vh 0
