// Global CSS that doesnt fall into any of the categories setout by the _sass dir structure

// Stop any CSS animations on load. We remove this class from the body tag after load, using assets/js/animate_after_load.js
.preload *
  -webkit-transition: none !important
  -moz-transition: none !important
  -ms-transition: none !important
  -o-transition: none !important
