

// Here we only deal with navigation within env: landing

// We dont include any navbar on the landing page. See _includes/naviagtion/global.html

// Navbar site logo
// make sure we don't style any other instance so nest with .nav-brand
.nav-brand
  @include logo-color($white)
  height: 14rem
<<<<<<< HEAD
  transform: translateY(15vh)
=======
  //transform: translateY(10vh)
>>>>>>> c3f8c62e82f7cc51ccca71e5efa332b7f1fa53a6

@media screen and ( min-width: 1024px )
  .nav-brand
    transform: translateY(-7.5vh)

.social-media
  display: none
