/*
 *
 *##############################################
 *# Global colors  /_sass/colors/_varibales.sass
 *##############################################
 *
 */

// Oxford Product Design

// #445B6D
$opd-blue-confidence: rgba(68, 91, 109, 1)

// #CA5E53
$opd-orange-confidence: rgba(202, 94, 83, 1)

// #9CBBD2
$opd-blue-trust: rgba(156, 187, 210, 1)

$opd-grey-neutral: rgba(178, 178, 178, 1)


// Socials

$twitter-primary: rgb(56, 161, 243)

$facebook-primary: rgb(66, 103, 178)

$linkedin-primary: rgb(14, 118, 168)

$instagram-primary: rgb(64, 93, 230)


// General

$pure-white: rgb(255, 255, 255)

$white: rgb(240, 240, 240)

$soft-white: rgb(230, 230, 230)

$pure-black: rgb(0, 0, 0)

$black: rgb(10, 10, 10)

$soft-black: rgb(80, 80, 80)

$light-grey: rgb(220, 220, 220)

$grey: rgb(130, 130, 130)

$led: rgb(255, 70, 0)


// Object colors

$secondary-navbar-color: rgba(255, 255, 255, .3)


// Color set mixins

@mixin opd-blue-trust
  background-color: $opd-blue-trust
  color: $opd-blue-confidence
