// Navigation styling for breakpoint 768

// Everything here will be included in EVERY .html

@media screen and ( min-width: 768px )

  .navbar
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3)

  .nav-brand
    max-width: 160px
    z-index: 2

  .nav-list
    display: flex
    justify-content: flex-end
    height: inherit
    top: 0
    transform: none
    border-top: none
    padding-right: 8rem

  .nav-link
    align-items: center
    padding: 0 10px
    height: $navbar-height
    opacity: 1
    margin: 0

  .nav-group-link
    transition: .1s ease-in

  .nav-group-link:hover
    color: $opd-grey-neutral
    transition: .2s ease-in

  .nav-group-content
    position: absolute
    padding: 2rem 0

  .nav-group-content .nav-link
    color: $pure-black
    padding: 1rem 3rem 1rem 2rem
    margin: 0
    font-size: $font-size * .9
    height: $font-size * .9

  .burger
    display: none
