/*  Last full read through 28/12/2020
 *
 *##############################################
 *# clinician landing  /_sass/env/clinician.sass
 *##############################################
 *
 */
$hero-follow-bottom: 59.5vh

.image__filter--blur
  @include image-filter--blur

.hero__overlay
  background-color: $env-primary

.bg--env-100
  background-color: $env-primary

.bg--env-50
  background-color: rgba($env-primary, .5)

.hero__follow
  background-color: $env-primary
  top: $hero-follow-bottom
  top: calc(var(--vh, 1vh) * #{strip-unit($hero-follow-bottom)})

.segment__keywords
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding: 3rem 2rem
  & > *
    padding: 2rem 0

.image--guarantee
  @include image-filter-rotate
  height: 100vh

.action__call

  &:before
    background-color: rgba($env-secondary, .2)

  span
    color: $env-primary


  svg
    stroke: $env-primary

  &:hover
    &::before
      background-color: rgba($env-secondary, 1)

.segment__right
  background-color: $image-blend
