/*  Last full read through 28/12/2020
 *
 *##############################################
 *# clinician landing  /_sass/env/clinician.sass
 *##############################################
 *
 */

.image__filter--blur
  @include image-filter--blur

.hero__overlay
  background-color: $env-primary

.bg--env-100
  background-color: $env-primary

.bg--env-50
  background-color: rgba($env-primary, .5)

.hero__follow
  background-color: $env-primary
  top: 59.5vh

.segment__keywords
  align-items: center
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center

  & > *
    padding: 5rem 0
    width: 50%


.action__call

  &:before
    background-color: rgba($env-secondary, .2)

  span
    color: $env-primary

  svg
    stroke: $env-primary

  &:hover
    &::before
      background-color: rgba($env-secondary, 1)
