
@media screen and ( min-width: 768px )

  .pwp--strap
    color: $env-secondary
    background-color: $opd-blue-trust
    padding: 10rem 5rem
    & > h2
      padding-bottom: 5rem
    & > p
      max-width: 800px
      margin: 0 auto

  .segment-wrap
    display: flex
    flex-wrap: no-wrap
    flex-direction: row
    width: 100vw
    max-height: 100vh

  .segment__left, .segment__right
    height: 100vh
    display: flex
    flex-direction: column

  .segment__left
    width: 60vw

  .segment__right
    width: 40vw

  .augment--gaurentee
    width: 40vw
    height: 100vh

  .segment__gaurentee
    display: flex
    align-items: center
    justify-content: space-between
    text-align: left
    flex-direction: row
    width: 100%
    height: 50%
    background-color: $env-primary
    color: $white
    padding: 0

    .site__logo
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      width: 15vw
      margin: 0 5vw
      //padding: 8rem

  .pwp--guarantee
    border: none
    border-left: solid 2px $pure-white
    width: 35vw
    margin: 0
    padding: 0 3rem

  .pwp__grid_img
    width: 100%
    min-height: 100vh
    right: 0
    background-image: url($baseurl + 'assets/img/pwp__grid_img.png')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    padding: 0
    //padding-top: 100%


  .segment__keywords
    width: 100%
    height: 50%
    flex-direction: column
    align-items: center
    justify-content: center

    & > *
      //padding: 2rem 0

  .clinician__strap
    h1
      display: block

  .svg__labels

    & > .svg--text
      font-size: $font-size
