
@media screen and ( min-width: 768px )

  .pwp__straps
    p
      padding: 2rem

  .pwp__device--strap
    background-color: $opd-blue-trust
    color: $white

  .pwp__grid-wrap
    display: flex
    flex-direction: column
    width: 100vw

  .pwp__grid__text
    display: flex
    align-items: center
    justify-content: center
    text-align: left
    flex-direction: row
    width: 60%
    //min-width: 100vw
    background-color: $opd-orange-confidence
    color: $white
    padding: 15vh 0
    .site-logo
      width: 40%
      padding: 0 10vw

  .pwp__grid_img
    position: absolute
    width: 40%
    height: 100%
    right: 0
    background-image: url($baseurl + 'assets/img/pwp__grid_img.png')
    background-size: cover
    background-repeat: no-repeat
    padding: 0
    z-index: -1

  .pwp--guarantee
    border: none
    border-left: solid 1px $soft-white
    width: auto
    margin: 0


  .pwp__grid_keywords
    width: 60%
    flex-direction: column
    align-items: center
    padding: 0
