
<!-- *** OG *** https://ogp.me/ -->
<meta property="og:title" content="
{% if page.url == '/' %}
{{ site.title }} | {{ site.subtitle }}
{% else %}
{{ page.title }} | {{ site.title }}
{% endif %}" />

<!-- Adds article properties for posts -->

<meta property="og:type" content="
  {% if page.id %}
  {%- assign facebook = site.socials | where: 'name', 'Facebook' -%}

    article" />
    <meta
    property=article:publisher
    content="{{ facebook[0].url }}/">
    <meta
    property=article:author
    content="{{ site.url }}">
    <meta
    property=article:section
    content="News from {{ site.title }}" >
    <meta
    property=article:published_time
    content="{{ page.date | date_to_xmlschema }}">
    <meta
    property=article:modified_time
    content="{{ 'now' | date_to_xmlschema }}">
    <!-- this just pulls the first cat -->
    <meta
    property=article:tag
    content="{{ page.categories }}">
  {% else %}
  website" />
{% endif %}

<meta property=og:updated_time content="{{ 'now' | date_to_xmlschema }}">

<!-- use local image if it exist but only for posts -->

{% if page.id %}
{% assign image = '/posts/' | append: page.hero %}
{% else %}
{% assign image = site.fallback_path | append: site.brand %}
{% endif %}

{% assign image_url = site.url | append: site.baseurl | append: image %}

<meta property="og:image" content="{{ image_url }}" />

<meta property="og:image:type" content="image/{{ image | split: '.' | last }}" />

{% imagesize image:opengraph %}

<!-- to implement this properly we need some kind of db recording the descriptors of our thumbs -->

<meta property="og:image:alt" content="
{%- if page.id -%}
  {{ page.hero_alt }}
{%- else -%}
  {{ site.subtitle }}
{%- endif -%} "" />

<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

<meta property="og:description" content="
{% if page.description %}
  {{ page.description }}
{% else %}
  {{ site.description }}
{% endif %}" />

<meta property="og:locale" content="en" />

<meta property="og:site_name" content="{{ site.title }} | {{ site.subtitle }}" />

<!-- *** fb:app_id *** https://developers.facebook.com/docs/sharing/webmasters/#markup -->
<meta property="fb:app_id" content="{{ site.data.socials.facebook.app_id }}" />

<!-- *** END OG *** -->
