<!-- *** STRUCTURED DATA *** -->
<!-- LocalBusiness -->
<script type="application/ld+json">
  { "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ site.postal_add.street }}",
      "addressLocality": "{{ site.postal_add.city }}",
      "addressRegion": "{{ site.postal_add.region }}",
      "addressCountry": "{{ site.postal_add.country }}",
      "postalCode": "{{ site.postal_add.postcode }}"
    },
    "name": "{{ site.title }} | {{ site.subtitle }}",
    "alternateName": "{{ site.title }}",
    "description": "{{ site.description }}",
    "telephone": "{{ site.phone }}",
    "openingHours": "{{ site.opening_hours }}",
    "image": "{{ site.url }}{{ site.baseurl }}/assets/img/page-thumbs/{{ site.thumbnail }}"
  } </script>

<!-- WebSite -->
<!-- const -->
<script type="application/ld+json">
{ "@context":"https://schema.org",
  "@graph":[ {
    "@type":"WebSite",
    "@id":"{{ site.url }}{{ site.baseurl }}/#website",
    "url": "{{ site.url }}{{ site.baseurl }}/",
    "sameAs":[
      "mailto:{{ site.author.email }}",
      "{{ site.data.socials.twitter.url }}{{ site.data.socials.twitter.username }}/",
      "{{ site.data.socials.facebook.url }}{{ site.data.socials.facebook.username }}/" ],
    "name": "{{ site.title }} | {{ site.subtitle }}",
    "description": "{{ site.description }}",
    "image": "{{ site.url }}{{ site.baseurl }}/assets/img/page-thumbs/{{ site.thumbnail }}",
    "author":[ {
      /* Person */
      "@type": "Person",
      "@context": "http://schema.org",
      "name": "{{ site.author.name }}",
      "description": "{{ site.author.description }}",
      "image": "{{ site.url }}{{ site.baseurl }}/assets/img/page-thumbs/{{ site.thumbnail }}"} ]
     } , {
    /* WePage */
    /* var */
    "@type":"WebPage",
    "@id":"{{ site.url }}{{ site.baseurl }}{{ page.url }}#webpage",
    "url":"{{ site.url }}{{ site.baseurl }}{{ page.url }}",
    "inLanguage":"en-GB",
    "name":"{% if page.title %} {{ page.title }} | {{ site.title }} {% else %} {{ site.title }} | {{ site.subtitle }} {% endif %}",
    "description": "{% if page.description %} {{ page.descrition }}{% else %}{{ site.description }}{% endif %}",
    "datePublished":"{{ page.date }}",
    "dateModified":"{{ 'now' | date_to_xmlschema }}",
    "isPartOf":[{
      "@id":"{{ site.url }}{{ site.baseurl }}/#website"}] }] } </script>

<!-- Organization -->
<script type="application/ld+json">
{ "@context": "http://schema.org",
  "@type": "Organization",
  "url": "{{ site.url }}{{ site.baseurl }}/",
  /*only applies to registered business
  "legalName": "{{ site.title }}", */
  "description": "{{ site.description }}",
  "image": "{{ site.url }}{{ site.baseurl }}/assets/img/page-thumbs/{{ site.thumbnail }}",
  "logo": "{{ site.url }}{{ site.baseurl }}/{{ site.logo }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.postal_add.street }}",
    "addressLocality": "{{ site.postal_add.city }}",
    "addressRegion": "{{ site.postal_add.region }}",
    "addressCountry": "{{ site.postal_add.country }}",
    "postalCode": "{{ site.postal_add.postcode }}" },
  "telephone": "{{ site.phone }}",
  "sameAs":[
    "mailto:{{ site.author.email }}",
    "{{ site.data.socials.twitter.url }}{{ site.data.socials.twitter.username }}/",
    "{{ site.data.socials.facebook.url }}{{ site.data.socials.facebook.username }}/" ] } </script>
