---
layout: default
---



<div class="spacefiller"></div>
<div class="hero hero-65 collage">

{% for collage in page.collage  %}
  <div class="collage__image__wrap collage__image__wrap-{{ forloop.index }}">
    <h3 class="image__header">{{ collage.reasons }}</h3>
      {% picture {{ collage.image | prepend: 'content/' }}
        --img class="collage__image collage__image-{{ forloop.index }}"
        --alt {{ collage.reasons }} %}
  </div>
{% endfor %}
</div>

<div class="fullwidth__wrap" id="content">
{{ content }}
</div>
