---
layout: default
---

{% if site.data.copy.contact[page.env].title %}
{% assign strap = site.data.copy.contact[page.env].title %}
{% else %}
{% assign strap = site.description %}
{% endif %}

<div class="hero hero-65">

  <div class="hero__overlay h-100">
    {% picture {{ page.hero.file | prepend: 'content/' }}
      --img class="hero__image hero__image--fixed hero-65"
      --alt {{ page.hero.alt }} %}</div>

  <header class="hero__strap hero__strap--center image__filter--blur hero-65" aria-label="{{ strap }}">

      <h1 aria-hidden="true" >
      {% assign n = strap.size | minus: 1 %}
      {%- for char in (0..n ) -%}

      <span style="animation-delay: {{ char | times: 40 | plus: 200 }}ms;">{{ strap | slice: char }}</span>
      {%- endfor -%}</h1>

  </header>

</div>

<div class="contact__wrapper" id="content">

  <div class="contact--left">
    <div class="contact-form">
      <h4 class="form-instruction blue">Get in touch using the form below</h4>
      {% include forms/kwes-contact.html %}
    </div>
  </div>

  <div class="contact--right">
    {% include gmap.html %}

    {% include contact-details.html %}
  </div>
</div>
