---
layout: default
---

<!-- this page shows all our posts ordered by date -->
<!-- we link to this with /posts/ -->

<section class="feed__head">

<h1 class="feed__title">
  {{ page.title }}
</h1>


</section>

<div class="post__feed" id="content">

  {% for post in site.posts %}

  <div class="feed__card" data-aos="fade-up">

    <div class="feed__card__image">
    {% picture thumb {{ post.hero | prepend: 'posts/' }} --alt {{ post.hero_alt }} --img class="feed__card--image image--{{ page.hero_focus }}" %}
    </div>
    <div class="feed__card--text">
      <p class="feed__card--meta">Published <span>{{ post.date | date: "%b %d, %Y" }}</span></p>
      <a class="feed__card--link" href="{{ site.baseurl }}{{ post.url }}">

      <h4 class="feed__card--title">{{ post.title }}</h4>
      <p class="post__subtitle">{{ post.subtitle }}</p>
      </a>


    </div>

  </div>

  {% endfor %}


</div>
