---
layout: default
---

<section class="landing__wraper">

  <a href="{{ site.data.menu.navigation[1].url | relative_url }}" class="landing__pwp">
    <div class="landing__overlay"></div>

    <div class="landing--strap"><h2>
      {{ site.data.menu.navigation[1].name }}
    </h2></div>

  </a>

  <a href="{{ site.data.menu.navigation[2].url | relative_url }}" class="landing__clinician">
    <div class="landing__overlay"></div>

    <div class="landing--strap"><h2>
      {{ site.data.menu.navigation[2].name }}
    </h2></div>

  </a>

</section>

{{ content }}
