---
layout: default
---

<section class="post_head">

{% picture {{ page.hero | prepend: 'posts/' }} --alt {{ page.hero_alt }} --img class="post__hero image--{{ page.hero_focus }}" %}

<div class="post__title">
<h1 >{{ page.title }}</h1>
<p class="post__meta">{%- if page.author -%}{{ site.data.authors[page.author].name }} | {{ site.data.authors[page.author].email }}{%- else -%}{{ site.data.authors.default.name }} | {{ site.data.authors.default.email }}{% endif %} | {{ page.date | date: "%d-%m-%y" }}</p>
</div>
</section>


<section class="post__content" id="content">

<h2 class="post__subtitle">{{ page.subtitle }}</h2>

{{ content }}

</section>

<section class="post__footer">

</section>
