
<form action="{{ site.data.forms[page.env].action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  <div class="form__block">

    <h2 class="form--title">{{ site.data.forms[page.env].header }}</h2>

    <p class="form--strap">{{ site.data.forms[page.env].strapline }}</p>

      {% for item in site.data.forms[page.env].inputs %}
      <div class="form__elem {{ item.type }}__elem mc--{{ item.width }} mc-field-group
        {% if item.type == 'select' OR item.type == 'radio' %}input-group{% endif %}">

        <label class="form--label {{ item.type }}-label" for="{{ item.id }}">
          {{ item.label }}
          {% if item.required %}
            <span class="mc-asterisk">*</span>
          {% endif %}
        </label>
        {% if item.type == 'radio' %}
        <ul>
          {% for option in item.opts %}
            <li>
              <input type="{{ item.type }}" value="{{ option.value }}" name="{{ item.name }}"
                id="{{ item.id }}-{{ option.id }}" {{ item.autofocus }}>
              <label for="{{ item.id }}-{{ option.id }}">
                {{ option.name }}
              </label>
            </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if item.type == 'select' %}
        <select name="{{ item.name }}" class="form--select form--elem {% if item.required %}required {% endif %}" id="{{ item.id }}" {{ item.autofocus }}>
          {% for option in item.opts %}
          <option type="{{ item.type }}" value="{{ option.value }}" name="{{ item.name }}">
            {{ option.name }}
          </option>
          {% endfor %}
        </select>
        {% endif %}

        {% if item.type == 'textarea' %}
        <textarea rows="4" name="{{ item.name }}" id="{{ item.id }}"
          class="form--textarea form--elem" {{ item.autofocus }}></textarea>
        {% endif %}

        {% if item.type == 'checkbox' %}
        <label class="form--label {{ item.type }}-label--mod" for="{{ item.id }}">
          <p>{{ item.label }}</p>
          <span class="styled-checkbox__block">

    	      <input type="checkbox" class="styled-checkbox switch" id="{{ item.id }}" name="{{ item.name }}" {{ item.autofocus }} value="{{ item.value }}">

          	<span class="icon"><span class="icon--elem"></span></span>
            <span class="no">NO</span>
          	<span class="yes">YES</span>
          </span>
        </label>
        {% endif %}

        {% if item.type != 'select' and item.type != 'radio' and item.type != 'textarea' and item.type != 'checkbox' %}
        <input type="{{ item.type }}" value=""
          {% if item.type == 'tel' %}
          placeholder="Landline or mobile"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          {% endif %}
          name="{{ item.name }}"
          class="{% if item.required %}required{% endif %} form--input form--elem"
          id="{{ item.id }}"
          {{ item.autofocus }}>
        {% endif %}

      </div>

      {% endfor %}

      <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">

        <div class="content__gdpr">
          <label for="interestgroup_field" class="form--label gdpr--title">What is your prefered method of communication?</label>

          <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
            {% for item in site.data.forms[page.env].gdpr %}
            <label class="mc--{{ item.width }} form--label {{ item.type }}-label--mod checkbox subfield" for="{{ item.id }}">
              <p>{{ item.label }}</p>
              <span class="styled-checkbox__block">
                <input type="checkbox" class="styled-checkbox switch av-checkbox gdpr" id="{{ item.id }}" value="Y" name="{{ item.name }}">
                <span class="icon"><span class="icon--elem"></span></span>
                <span class="no">NO</span>
                <span class="yes">YES</span>
              </span>
            </label>
            {% endfor %}
          </fieldset>

          <p class="content__gdprLegal">
           You can unsubscribe at any time by clicking the link at the bottom of our emails. For information about our privacy practices, click <a href="/privacy-policy/">here</a>.
          </p>

          <p class="content__gdprLegal">
            We use Mailchimp as our marketing platform. By clicking below, you acknowledge that your information will be transferred to Mailchimp for processing. Learn more about Mailchimp's privacy practices <a href="https://mailchimp.com/legal/" target="_blank">here.</a>
          </p>
        </div>
      </div>

      <div class="clear">
        <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>


      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>

      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="{{ site.data.forms.walk.botspot-name }}" tabindex="-1" value="">
      </div>

      <div class="mc-field-group input-group" style="position: absolute; left: -5000px;" aria-hidden="true">
        <select name="USERTYPE" class="required" id="mce-USERTYPE" >
          {% if page.env == 'walk' %}
          <option value="PwP" selected></option>
          {% else %}
          <option value="Clinician" selected></option>
          {% endif %}
        </select>
      </div>

    </div>

  </form>


  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

  <script type='text/javascript'>
  	(function($) {
  		window.fnames = new Array();
  		window.ftypes = new Array();
      /*
      fnames[0] = 'EMAIL';
  		ftypes[0] = 'email';
  		fnames[2] = 'FNAME';
  		ftypes[2] = 'text';
  		fnames[4] = 'LNAME';
  		ftypes[4] = 'text';
  		fnames[6] = 'TEL';
  		ftypes[6] = 'number';
  		fnames[3] = 'USERDES';
  		ftypes[3] = 'dropdown';
  		fnames[1] = 'USERTYPE';
  		ftypes[1] = 'dropdown';
  		fnames[5] = 'MESSAGE';
  		ftypes[5] = 'text';
      */
      {% for item in site.data.forms[page.env].inputs %}
        fnames[{{ forloop.index0 }}] = '{{ item.name }}';
        ftypes[{{ forloop.index0 }}] = '{{ item.type }}';
        {% if forloop.last == true %}
        fnames[{{ forloop.index }}] = 'USERTYPE';
        ftypes[{{ forloop.index }}] = 'dropdown';
        {% endif %}
      {% endfor %}

  	}(jQuery));
  	var $mcj = jQuery.noConflict(true);
  </script>
